@typeparam Titem

@if(MyList is null)
{
    @if(Loading is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if(MyList.Count == 0)
{
    @if(NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}
