@page "/states/edit/{StateId:int}"

<h3>Editar Estado/Departamento</h3>

@if (state is null)
{
    <Loading />
}
else
{
    <StateForm @ref="stateForm" State="state" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}