@page "/states/create/{CountryId:int}"

<h3>Nuevo Estado/Departamento</h3>

<FormWithName @ref="stateForm" Label="Estado/Departamento:" Model="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />