@page "/cities/edit/{CityId:int}"

<h3>Editar Ciudad</h3>

@if (city is null)
{
    <Loading />
}
else
{
    <FormWithName @ref="cityForm" Label="Ciudad:" Model="city" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}
