@page "/api/accounts/ConfirmEmail"

<h3>Confirmación de email</h3>

<p>Presione el botón para confirmar su cuenta</p>
<button class="btn btn-primary" @onclick="ConfirmAccountAsync">Confirmar Cuenta</button>