@page "/Login"

<h3>Iniciar Sesión</h3>

<EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label>Email:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@loginDTO.Email" />
                    <ValidationMessage For="@(() => loginDTO.Email)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Contraseña:</label>
                <div>
                    <InputText type="password" class="form-control" @bind-Value="@loginDTO.Password" />
                    <ValidationMessage For="@(() => loginDTO.Password)" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
        </div>
    </div>
</EditForm>
