@page "/countries/edit/{Id:int}"

<h3>Editar País</h3>

@if(country is null)
{
    <Loading/>
}
else
{
    <FormWithName @ref="countryForm" Label="País:" Model="country" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
