@page "/countries"

<h3>Paises</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>

<GenericList MyList="Countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Departamentos / Estados</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a class="btn btn-info btn-sm" href="/countries/details/@country.Id">Detalles</a>
                            <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>