@page "/"

@if (Products is null)
{
    <Loading />
}
else
{
    <div class="d-flex align-items-center justify-content-between">
        <Filter PlaceHolder="Buscar producto..." Callback=@FilterCallBack />
        <AuthorizeView>
            <Authorized>
                @if (counter > 0)
                {
                    <a href="/Cart/ShowCart" class="btn btn-primary"><i class="bi bi-cart-fill" /> Ver Carro de Compras (@counter)</a>
                }
            </Authorized>
        </AuthorizeView>
    </div>
    <Pagination CurrentPage="currentPage"
                TotalPages="totalPages"
                SelectedPage="SelectedPageAsync"
                RecordsNumber="SelectedRecordsNumberAsync"
                IsHome />

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
        @foreach (var product in Products!)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="text-center zoom">
                        <img src="@product.MainImage" style="height:150px; max-width:200px;" class="text-center" alt=@product.Name />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-navy"> @product.Name</h5>
                        <p class="card-text smfnt">@product.Description</p>
                        <h5 class="text-muted">@($"{product.Price:C2}")</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/products/details/@product.Id" class="btn btn-sm btn-secondary"><i class="bi bi-info-circle" /> Detalles</a>
                        <button class="btn btn-sm btn-primary" @onclick=@(() => AddToCartAsync(product.Id))><i class="bi bi-cart-plus" /> Agregar al Carro</button>
                    </div>
                </div>
            </div>
        }
    </div>
}